html, body{
    margin: 0;
    height: 100%;
}

body {
    background: #DDDDDD;
}

.navbar {
    background-color:#AFD6E3;
    color: white;
    justify-content: left;
}

.page-container {
    margin-top: 75px;
    padding: 40px;
}

#fab {
    position: fixed;
    background: #AFD6E3;
    color: white;
    right: 20px;
    bottom: 20px;
    z-index: 3;
}

#fab:active {
    transform: translateY(1px);
    opacity: 0.8;
}


#profileButton{
    color: white;
    position: absolute;
    margin-top: 5px;
    right: 20px;
}

#searchButton{
    color: white; 
}

#searchBar {
    border: 0.0625rem solid rgb(133, 133, 133);
    border-radius: 0.25rem;
}

#searchForm {
    margin: 0;
}



#folderContainer{
    margin: 2px 0;
}

#mindmapContainer{

}